[submodule "Standards"]
	path = Standards
	url = https://github.com/b2hinkle/Standards.git
[submodule "Dependencies/Gems/O3deUtils_Core"]
	path = Dependencies/Gems/O3deUtils_Core
	url = https://github.com/ChristianHinkle/O3deUtils_Core.git
[submodule "Dependencies/Gems/CppUtilsO3deGem"]
	path = Dependencies/Gems/CppUtilsO3deGem
	url = https://github.com/ChristianHinkle/CppUtilsO3deGem.git
[submodule "Dependencies/Gems/O3deUtils_Misc"]
	path = Dependencies/Gems/O3deUtils_Misc
	url = https://github.com/ChristianHinkle/O3deUtils_Misc
[submodule "Dependencies/Gems/O3deFramework_Misc"]
	path = Dependencies/Gems/O3deFramework_Misc
	url = https://github.com/ChristianHinkle/O3deFramework_Misc
